.App {
  text-align: center;
}

.nav-ul{
  display:inline-block; 
  padding:10px;

}
.nav-ul li a{
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
.nav-ul{
  padding:5px;
  margin:0;
  background-color: skyblue;
}
.footer{
  position: absolute;
  bottom:0;
  text-align: center;
  width: 100%;
  background-color: skyblue;

}
.register, .product{
margin-left: 30%;
}
.inputBox{
  display: block;
  padding: 7px;
  margin: 25px;
  width:300px;
  border:1px solid skyblue;

}
.appButton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}
.invalid input{
  color: red;
  margin-top:-20px ;
  display: block;
  margin-left:20px ;
}
.product-list{
  text-align: center;
  margin-top: 50px;
}
.product-list ul li{
  display:inline-block;
  border: 1px solid skyblue;
  padding:5px;
  width: 150px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav-right{
  text-align: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
